<video class="d-block w-100" autoplay loop muted style="opacity: 85%" id="myvideo">
    <source src="../../../../assets/videos/www.reallygreatsite.com.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>
<div class="container-fluid text-center filosofia">
    <div class="row">
        <h1 class="alt-font font-weight-700 text-white text-uppercase margin-15px-bottom">FILOSOFIA</h1>
        <h4 class="text-white"><strong>FITNESS CENTER</strong> es para todos y esa es nuestra filosofía. </h4>
    </div>
    <div class="row text-start reglas">
        <div class="col-md-4 col-sm-10 col-xs-12 text-white">
            <ul class="no-padding list-style-3">
                <li>En este gimnasio no juzgamos.</li>
                <li>Somos una sociedad diversa y tenemos una cultura de diversión.</li>
                <li>Nada es mucho ni muy poco.</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-12 text-white">
            <ul class="no-padding list-style-3">
                <li>Buscamos animarte, entusiasmarte y entretenerte.</li>
                <li>No hay un solo tipo. Ni una sola razón. Ni un solo camino.</li>
                <li>No existen miradas que desaprueben.</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-12 text-white">
            <ul class="no-padding list-style-3">
                <li>Hay lugar para todos.</li>
                <li>Cualquier persona que nos elija para alcanzar sus objetivos y respete al prójimo será
                    bienvenida.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid cont-actividades">
    <div class="container">
        <div class="row">
            <h1 class="text-center">ACTIVIDADES</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../../../../assets/images/crossfit.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Crossfit</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../../../assets/images/funcional.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Funcional</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../../../assets/images/boxeo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Boxeo</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../../../assets/images/musculacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Musculación</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-danger">CONOCER MÁS</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid cont-beneficios">
    <div class="row beneficios">
        <div class="col-4 text-center align-content-center">
            <h1>Beneficios</h1>
            <img src="../../../../assets/images/logo-complete.png" alt="">
        </div>
        <div class="col-8 line-vertical text-white">
            <div class="row ">
                <h3>ACCESO ILIMITADO</h3>
                <p>Disfruta más de 1,000 workouts y programas de fitness, yoga y meditación ilimitados.</p>
            </div>
            <div class="row">
                <h3>CONTENIDO ORIGINAL</h3>
                <p>Acceso exclusivo InstaFit Originals con los mejores coaches en español además de programas de los
                    coaches más reconocidos de América Latina</p>
            </div>
            <div class="row">
                <h3>LLEVA TU ENTRENAMIENTO CONTIGO</h3>
                <p>Ve tus clases donde sea con acceso móvil vía iOS y Android, o web y próximamente desde tu TV.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid cont-community" style="padding: 0;">
    <img class="community-img" src="../../../../assets/images/community.jpg" alt="">
    <div class="div-overlay text-center d-flex align-items-center">
        <div class="container">
            <h1>Fitness Comunity</h1>
            <p>
                Únete a miles de Fitness fans y carga tu entrenamiento de motivación, tips y energía para lograr los
                resultados que buscas.
            </p>
            <button type="button" class="btn btn-danger">¡ UNETE YA !</button>
        </div>

    </div>
</div>
