<div class="container">
  <!-- TITULO GENERAL -->
  <h1 class="text-center m-5 p-3 display-4">Información de alumnos registrados</h1>

  <!-- FILTROS DE BÚSQUEDA -->
  <h1 class="text-start m-2 display-5">Filtrar alumnos</h1>
  <form class="mb-4">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="filtroDNI">DNI</label>
          <input type="text" class="form-control" id="filtroDNI" name="dni" placeholder="Ingrese el DNI" [(ngModel)]="dni">
        </div>
      </div>

<!--      <div class="col-md-3">-->
<!--        <div class="form-group">-->
<!--          <label for="filtroTipoPlan">Tipo de Plan</label>-->
<!--          <select id="filtroTipoPlan" name="plan" class="form-control" [(ngModel)]="plan" (change)="onPlanSelected()">-->
<!--            <option value="" disabled selected="selected">Todos</option>-->
<!--            <option *ngFor="let p of planes" [value]="p">{{ p }}</option>-->
<!--          </select>-->
<!--        </div>-->
<!--      </div>-->


      <div class="col-md-3">
        <div class="form-group">
          <label for="filtroApellido">Apellido</label>
          <input type="text" class="form-control" id="filtroApellido" placeholder="Ingrese el Apellido" name="apellidos" [(ngModel)]="apellidos">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="filtroNombre">Nombre</label>
          <input type="text" class="form-control" id="filtroNombre" placeholder="Ingrese el Nombre" name="nombres" [(ngModel)]="nombres">
        </div>
      </div>
      <div class="col-md-3 pt-2">
        <div class="form-group">
          <label for="filtroEmail">Email</label>
          <input type="email" class="form-control" id="filtroEmail" placeholder="Ingrese el Email" name="email" [(ngModel)]="email">
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <button type="submit" class="btn btn-primary btn-lg" (click)="getAlumnos()">Buscar</button>
      <button type="button" class="btn btn-secondary btn-lg ms-5" (click)="limpiarFiltros()">Limpiar filtros</button>
      <div class="alert alert-info mt-4" *ngIf="alumnos.length === 0">
        No se encontraron resultados con los filtros aplicados.
      </div>
    </div>
  </form>

  <!-- INFORMACION DETALLADA -->
  <div class="table-responsive"  *ngIf="alumnos.length > 0">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">DNI</th>
        <th scope="col">Datos de contacto</th>
        <th scope="col">Tipo de Plan</th>
        <th scope="col">Operaciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let alumno of alumnos">
        <td>{{ alumno.nombres }}</td>
        <td>{{ alumno.apellidos }}</td>
        <td>{{ alumno.dni }}</td>
        <td>
          <ul class="list-unstyled">
            <li><strong>Email:</strong> {{ alumno.email }}</li>
            <li><strong>Celular:</strong> {{ alumno.celular }}</li>
          </ul>
        </td>
        <td>{{ alumno.plan.nombre }}</td>
<!--        <td>{{ alumno.plan?.nombre }}</td>-->
        <td>
          <button type="button" class="btn btn-success" [routerLink]="['/entrenador-rutina-form']" [queryParams]="{ alumnoId: alumno._id }">Agregar rutina</button>
          <button type="button" class="btn btn-warning me-2 ms-2">Editar rutina</button>
          <button type="button" class="btn btn-danger">Eliminar rutina</button>
          <button type="button" class="btn btn-outline-info ms-2" *ngIf="alumno.rutinas.length != 0">Ver rutinas</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>
