<div class="container">
    <button class="btn btn-primary" (click)="volverPlanes()">Volver</button>
    <p class="fs-3">HISTORICO DE CAMBIOS DE PRECIOS</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="d-none d-md-table-cell">#</th>
                <th scope="col">Plan</th>
                <th scope="col">Fecha Modificación</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of historico, let i = index">
                <th scope="row" class="d-none d-md-table-cell">{{i+1}}</th>
                <td>{{h.plan.nombre}}</td>
                <td>{{h.fechaModificacion}}</td>
                <td>{{"$ " + h.nuevoPrecio}}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-sm-10 col-md-4">
        <label for="plan" class="form-label">Plan</label>
        <select class="form-select" name="plan" id='plan' [(ngModel)]="planSeleccionado" (change)="drawChart()">
            <option [ngValue]="p" *ngFor="let p of planes">{{p.nombre}}</option>
        </select>
    </div>
    <div class="col">
        <div id="chart_hplanes" class="chart-container" style="height: 25rem;"></div>
      </div>
</div>