<div class="container">
  <h1 class="text-center mb-4">Bienvenido/a {{alumno.nombres}}</h1>
  <div class="row">
    <div class="col-md-4">
      <img *ngIf="alumno.fotoPerfil" [src]="alumno.fotoPerfil" alt="Imagen de Perfil" class="img-fluid rounded-circle">
      <img *ngIf="!alumno.fotoPerfil" src="../../../assets/images/usuarios/avatar-default.png" alt="Imagen de Perfil Predeterminada" class="fixed-size-img rounded-circle">
    </div>

    <div class="col-md-4">
      <h2 class="text-primary">TUS DATOS PERSONALES</h2>
      <p><strong class="text-secondary">Nombres:</strong> {{alumno.nombres}}</p>
      <p><strong class="text-secondary">Apellidos:</strong> {{alumno.apellidos}}</p>
      <p><strong class="text-secondary">DNI:</strong> {{alumno.dni}}</p>
      <p><strong class="text-secondary">Domicilio:</strong> {{alumno.domicilio}}</p>
      <p><strong class="text-secondary">Fecha de Nacimiento:</strong> {{alumno.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-primary">DATOS DE CONTACTO</h2>
      <p><strong class="text-secondary">Email:</strong> {{alumno.email}}</p>
      <p><strong class="text-secondary">Celular:</strong> {{alumno.celular}}</p>
    </div>
    <div class="col-md-1 col-12 d-flex align-items-center">
      <div>
      <div>
      <button class="btn btn-warning btn-lg editar-datos mb-3" (click)="editarDatosPersonales()">Editar Datos Personales</button>
      </div>
      <div>
      <button class="btn btn-primary btn-lg editar-datos mb-3" (click)="controlPeso()">Control del peso</button>
      </div>
     </div>
    </div>
    
  </div>
</div>
