<div class="container-fluid" style="padding: 0;">
  <div class="row">
    <div class="col-auto">
      <div id="menu" class="d-flex flex-column flex-shrink-0 text-bg-dark">
        <a [routerLink]="['../estadisticas']" class="d-block p-3 link-body-emphasis text-decoration-none text-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
          <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray"
            class="bi bi-clipboard-data" viewBox="0 0 16 16">
            <path
              d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
            <path
              d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
            <path
              d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
          </svg>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li class="nav-item">
            <a [routerLink]="['../estadisticas-pago']" class="nav-link py-3 border-bottom rounded-0"
              aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-wallet2"
                viewBox="0 0 16 16">
                <path
                  d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
              </svg>
              <span class="d-none d-sm-block text-white">Pagos</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['../estadisticas-ingreso']" class="nav-link py-3 border-bottom rounded-0"
              aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home"
              data-bs-original-title="Home">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-person-add"
                viewBox="0 0 16 16">
                <path
                  d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                <path
                  d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
              </svg>
              <span class="d-none d-sm-block text-white">Ingresos</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['../estadisticas-cuota']" class="nav-link py-3 border-bottom rounded-0"
              aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home"
              data-bs-original-title="Home">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-cash-stack"
                viewBox="0 0 16 16">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                <path
                  d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
              </svg>
              <span class="d-none d-sm-block text-white">Cuotas</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['../estadisticas-insumo']" class="nav-link py-3 border-bottom rounded-0"
              aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home"
              data-bs-original-title="Home">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-bag"
                viewBox="0 0 16 16">
                <path
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
              </svg>
              <span class="d-none d-sm-block text-white">Insumos</span>
            </a>
          </li>
        </ul>


      </div>
    </div>
    <div class="col text-center align-content-center" style="padding-top: 3rem;">
      <h1>Bienvenido a la página de Estadisticas <br> del Fitness Center</h1>   
      <img src="../../../../assets/images/logo-complete.png" alt="" style="max-height: 15rem;"> 
    </div>
  </div>
</div>