<div class="fondo">
   <div class="container-fluid">
      <div class="container">
         <div class="row contenido">
            <div class="col-12">
               <h1>DATE UNA VUELTA POR NUESTRAS SUCURSALES!</h1>
            </div>
            <div class="col-12">
               <div class="sucursal-container row ">
                  <div class="sucursal-imagen col-12 col-lg-4">
                     <img src="../../../assets/images/sucursal2.jpg" alt="">
                  </div>
                  <div class="sucursal-descripcion col-12 col-lg-8">
                     <h2 class="mb-3">Av. Almte Brown 1793</h2>
                     <p>SAn Pedrito, San Salvador de Jujuy, Jujuy</p>
                     <p>Abierto de 09:00 - 13:00 y 17:00 - 22:00</p>
                     <p>0388 407-0494</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum animi iste consequatur,
                        pariatur minima, quis temporibus earum quibusdam repellendus voluptate consequuntur, eligendi
                        facilis magnam quo adipisci nemo! Nostrum exercitationem amet ab fugiat eligendi repellendus
                        deleniti quae quod libero eveniet.</p>
                  </div>
               </div>
               <div class="sucursal-container row ">
                  <div class="sucursal-imagen col-12 col-lg-4">
                     <img src="../../../assets/images/sucursal1.jpg" alt="">
                  </div>
                  <div class="sucursal-descripcion col-12 col-lg-8">
                     <h2 class="mb-3">Tte. Farias 1098</h2>
                     <p>Alto Comedero, San Salvador de Jujuy, Jujuy</p>
                     <p>Abierto de 09:00 - 13:00 y 17:00 - 22:00</p>
                     <p>0388 421-3309</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum animi iste consequatur,
                        pariatur minima, quis temporibus earum quibusdam repellendus voluptate consequuntur, eligendi
                        facilis magnam quo adipisci nemo! Nostrum exercitationem amet ab fugiat eligendi repellendus
                        deleniti quae quod libero eveniet.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>
